@import "reset.css";
@import "typography.scss";

$primary-color: blue;
$body-font: "Jost";
$body-size: 24px;
$mq-large: 800px;
$mq-medium: 600px;

@mixin vertically-middle (){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin mq($width) {
    @media (max-width: $width) {
        @content;
    }
}

body {
    background-color: $primary-color;
    color: white;
    font-family: $body-font;
    font-size: $body-size;
    height: 100vh;
    @include vertically-middle();
}

section {
    width: 500px;
    @include mq($mq-medium) {
        width: 350px;
    }
    p {
        margin: 24px 0 0 0;
    }
}

